* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #ffa705, #ea7915);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
}

#barra {
  background: #be0411;
  height: 8vh;
}

#seta-voltar {
  height: 4.2vh;
  float: left;
  margin-top: 2vh;
  margin-left: 2vh;
}

.divisor {
  border: 1px solid #00914d;
  width: 90vw;
  margin: 0 auto;
}

#botao {
  position: relative;
  border: 2px solid black;
  width: 30vh;
  background: #be0411;
  margin: 2vh auto;
  border-radius: 5vh;
}

#botao #talheres {
  position: absolute;
  top: 1vh;
  left: 3vh;
  height: 6vh;
}

#botao h3 {
  font-family: "Moulpali", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.8vh;
  text-align: right;
  text-shadow:
    0.5px 0.5px white,
    -0.5px -0.5px white,
    -0.5px 0.5px white,
    0.5px -0.5px white;
  margin: 0.2vh 3.5vh 0;
}

#lista {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 0 3vh;
}

.pizza {
  display: flex;
  align-items: center;
  border: 3px solid #00914d;
  background-color: #a83e30;
  padding: 2vh;
  border-radius: 4vh;
}

.pizza img {
  height: 10vh;
}

.pizza .textos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pizza h3 {
  font-family: "Moul", serif;
  font-weight: 400;
  font-size: 4vw;
  text-transform: uppercase;
  text-align: center;
  padding: 0 2vh;
  margin: 0;
  color: #ffa705;
  text-shadow:
    1.5px 1.5px #be0411,
    -1.5px -1.5px #be0411,
    -1.5px 1.5px #be0411,
    1.5px -1.5px #be0411;
}

.pizza h4 {
  font-family: "Moul", serif;
  font-weight: 400;
  font-size: 5vw;
  color: #00914d;
  margin: 0;
  text-shadow:
    1.5px 1.5px black,
    -1.5px -1.5px black,
    -1.5px 1.5px black,
    1.5px -1.5px black;
}
